RXNORM_BASE_URL=https://rxnav.nlm.nih.gov/REST
MEDLINEPLUS_CONNECT_URL=https://connect.medlineplus.gov/service

OPENROUTER_API_KEY=your_openrouter_api_key_here

TAVILI_API_KEY = your_tavily_api_key_here
